name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          #LOCALE: zh
          SHOW_TITLE: false
          SHOW_SHORT_INFO: false
          TIME_RANGE: last_7_days
          LANG_COUNT: 5
          SHOW_TIME: true
          SHOW_TOTAL: false
          SHOW_MASKED_TIME: false

          SHOW_LINES_OF_CODE: false
          SHOW_LOC_CHART: false
          SHOW_OS: true
          SHOW_PROJECTS: false
          SHOW_TOTAL_CODE_TIME: false
          SHOW_COMMIT: false
          SHOW_PROFILE_VIEWS: false
          SHOW_DAYS_OF_WEEK: false
          SHOW_LANGUAGE: true
          SHOW_EDITORS: true
