name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          
          LOCALE: zh
          SHOW_LINES_OF_CODE: "False" # 显示截至日期写入的代码行数
          SHOW_LOC_CHART: "False" # 年份不同季度编写的代码行数
          SHOW_SHORT_INFO: "False" # 用户的简短趣闻信息
          SHOW_OS: "True" # 显示操作系统
          SHOW_PROJECTS: "False" # 显示项目
          SHOW_TOTAL_CODE_TIME: "True" # 显示总编码时间
          SHOW_COMMIT: "False" # 显示提交信息
          SHOW_PROFILE_VIEWS: "False" # 显示配置文件视图
          SHOW_DAYS_OF_WEEK: "False"  # 一周中不同日期进行的提交
          SHOW_LANGUAGE: "True" # 编码语言
          SHOW_EDITORS: "False" # 编辑器
          SHOW_LANGUAGE_PER_REPO: "False"
          SHOW_TIMEZONE: "True"
          SHOW_UPDATED_DATE: "False"
